<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>

  {{> header }}

  <p>This is the help page.</p>
  <p>Stuck, ask <a href="mailto:hello@garethbutler.com">Gareth</a></p>

  {{> footer }}


</body>
</html>
